body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li{
  list-style: none;
}

.contact-list{
  list-style: none;
}

.logo-title::before{
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  background-image: url(../images/logo.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.categories {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.categories-list{
   display: flex;
  flex-wrap: wrap;
}